@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0px;
    background-color: black !important;
    //font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif !important;
}

body:after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    content: url(../images/mini-logo.svg);
}

#loader, #loader[loaded="false"] {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 200%;
    left: -100%;
    height: 100vh;
    z-index: 99999;
}

#loader[loaded="true"] {
    animation: loader .75s ease-in-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: relative;
        left: 25%;
        width: 100px;
        animation: 2s loader-image linear infinite;
    }
}

@keyframes loader-image {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        z-index: 99999;
    }

    99% {
        opacity: 0;
        z-index: 99999;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

header {
    display: flex;
    color: #eee;
    position: fixed;
    padding-top: 20px;
    padding-left: 80px;
    z-index: 99;
    background: transparent;
    width: calc(100% - 160px);

    &[scroll="false"] {
        position: fixed;
        top: 0px;
    }

    &[scroll="true"] {
        position: absolute;
        top: 0px;
    }

    .nav_button {
        font-size: 14pt;
        padding: 10px 20px;
        text-decoration: none;
        cursor: pointer;
        color: #eee;
    }

    a:hover {
        color: #ccc !important;
        cursor: pointer;
    }


    .user {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: #eee;
        position: relative;
        padding-right: 15px;
        border-radius: 10px 10px 0 0;

        .account_buttons {
            display: none;
            position: absolute;
            top: 48px;
            left: -1px;
            width: 100%;
            text-align: center;
            border-radius: 0 0 10px 10px;

            button, a {
                text-decoration: none;
                background: transparent;
                color: #eee;
                outline: none;
                border: none;
                font-family: 'Poppins', sans-serif;
                padding: 10px;
                display: block;
                text-align: center;
                width: 100%;
                box-sizing: border-box;

                &:hover {
                    color: #ccc;
                }

                &:active {
                    color: #888;
                }
            }
        }

        &:hover {
            border: 1px solid #555;
            border-bottom: none;
            background: #111;
            right: -1px;
            top: -1px;

            & .account_buttons {
                display: block;
                border: 1px solid #555;
                border-top: none;
                background: #111;
                width: 100%;
            }
        }

        span {
            padding: 0 20px;
        }
    }

    .right {
        margin-left: auto;
    }
}

.container {
    padding: 20px 100px;
}

.video_slider {
    width: 100%;
    box-sizing: border-box;
    padding-top: 0px;
    position: relative;
    margin-bottom: 50px;

    .splide__slide {
        height: 200px;
    }

    &[label] {
        height: calc(150px + 40px) !important;
        padding-top: 40px;

        &:before {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: #eee;
            content: attr(label);
            font-size: 20pt;
            color: #eee;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.video_row {
    position: relative;

    .videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        .video_element {
            width: 200px;
            height: 300px;
            margin-bottom: 15px;
        }
    }

    .more_videos_wrapper {
        display: flex;
        width: 100%;
        justify-content: center;

        .more_videos {
            padding: 10px 20px;
            color: #eee;
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 10px;
            cursor: pointer;
            transition: .1s;
            user-select: none;

            &:hover {
                background: #db202c;
                border-color: #db202c;
            }
        }
    }
}
.video_element {
    height: 100%;
    position: relative;
    background: #9dc7eb;
    margin-right: 15px;
    cursor: pointer;
    border: 2px solid #222;
    border-radius: 5px;
    transition: .1s;

    .image_wrapper{
        width: 100%;
        height: 100%;
        overflow: hidden;
        left: 0;
        top: 0;
    }

    .image_wrapper {
        z-index: 2;
    }

    img {
        transform: scale(1.05);
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: 2;
    }

    .info {
        position: absolute;
        top: 0;
        left: 0;
        transition: .1s;
        background: rgba(0, 0, 0, .75);
        opacity: 0;
        height: 100%;
        overflow: hidden;
        z-index: 3;

        .description {
            width: 100%;
            height: 120px;
            line-height: 16pt;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            display: block;
            font-size: 12pt;
            width: 100%;
            box-sizing: border-box;
            color: #eee;
            padding: 10px;
        }

        &:after {
            content: attr(data-rating);
            display: block;
            font-size: 14pt;
            font-weight: 600;
            color: #eee;
            position: absolute;
            right: -30px;
            bottom: -30px;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            padding: 15px;
            background: #db202c;
        }
    }

    &:hover .info {
        opacity: 1;
    }
}

.topic {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
    }

    .dot {
        z-index: 2;
        background-image: url(https://www.2k.com/images/pattern.png);
        background-repeat: repeat;
        background-attachment: scroll;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1.75;
        position: absolute;

        &:after {
            content: "";
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            background: linear-gradient(0deg, #000f, #0000);
        }
    }

    .content {
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 50px 100px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;

        .logo {
            img {
                height: 80px;
            }

            position: relative;
        }

        .text {
            font-size: 12pt;
            color: #aaa;
            width: 600px;
            word-break: break-word;
            letter-spacing: 2px;
        }
    }
}

.preview_slider {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;

    .slider_wrapper {
        width: 300%;
        height: 100%;
        display: flex;
        position: relative;
        transition: .5s ease-in-out;
        transition-delay: 0s;
        left: 0%;

        .slider_element {
            width: 100%;
            height: 100%;
            position: relative;

            .dot {
                z-index: 2;
                background-image: url(https://www.2k.com/images/pattern.png);
                background-repeat: repeat;
                background-attachment: scroll;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 1.75;
                position: absolute;
            }

            .image {
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .info {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        padding: 80px;
        z-index: 2;
        box-sizing: border-box;

        .topic_container {
            height: 60px;
            overflow: hidden;

            .info_wrapper {
                position: relative;
                transition: .2s ease-in-out;
                transition-delay: .35s;
                top: 0px;

                .topic {
                    height: 60px;
                    display: flex;
                    align-items: center;
                    font-size: 32pt;
                    color: #fff;
                    overflow: hidden;
                }
            }
        }
    }

    .slider_controls {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .slider_button {
            width: 80px;
            height: 100%;
            position: absolute;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32pt;
            color: #eee;
            top: 0;

            &.left {
                left: 0;
            }

            &.right {
                right: 0;
            }
        }

        .slider_buttons {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            z-index: 4;

            .button {
                width: 80px;
                height: 5px;
                border-radius: 10px;
                background: #ccc;
                margin: 10px;

                &[active] {
                    background: #eee;
                }
            }
        }
    }
}

.content_wrapper {
    display: flex;
    width: 100%;
    position: relative;

    .action_container {
        width: 300px;
        height: 400px;
    }

    .content_container {
        width: calc(100% - 300px);
        height: 1000px;
    }

    
}
.input_wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;

    .label {
        width: 40px;
        height: 100%;
        position: absolute;
        right: 2px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff40;
    }

    input, select {
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        background: #2b2b2b;
        border: 1px solid #00000080;
        box-shadow: inset 0 0 0 1px #ffffff20;
        color: #eee;
        outline: none;
        padding: 10px 40px 10px 15px;
        font-family: 'Poppins', sans-serif !important;
        z-index: 1;
    }

    &.select {
        .select_checkbox {
            position: absolute;
            z-index: 3;
            right: 0;
            top: 0;
            width: 100%;
            height: 50px;
            opacity: 0;

            &:checked {
                & ~ .label {
                    transform: rotate(180deg);
                }

                & ~ .options {
                    display: block;
                }
            }
        }
        .label {
            height: 50px;
        }
        .checkbox_select {
            position: relative;
            z-index: 1;
            box-sizing: border-box;
            background: #2b2b2b;
            border: 1px solid #00000080;
            box-shadow: inset 0 0 0 1px #ffffff20;
            color: #eee;
            padding: 10px 40px 10px 15px;
            height: 50px;

            &:before {
                content: attr(label);
                color: #eee;
                position: absolute;
                top: 3px;
                left: 0;
                padding: 10px 40px 10px 15px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .options {
            display: none;
            position: relative;
            background: #2b2b2b;
            border: 1px solid #00000080;
            box-shadow: inset 0 0 0 1px #ffffff20;
            padding: 10px 40px 10px 15px;
            box-sizing: border-box;
        }
    }
}

.support_button{
    position: fixed;
    background: red;
    width: 300px;
    height: 150px;
}