<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetFlex.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/3ee70c58bc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/VideoPlayer.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Video/Video.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/MainLayout.css">
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
		<div class="logo"></div>
		<a asp-controller="Main" asp-action="Index" class="nav_button">Main</a>
		<a asp-controller="Movies" asp-action="Index" class="nav_button">Movies</a>
		<a asp-controller="Series" asp-action="Index" class="nav_button">Series</a>
		<a asp-controller="Popular" asp-action="Index" class="nav_button">Popular</a>
		<a asp-controller="MyList" asp-action="Index" class="nav_button">My list</a>
		<div class="right">
			<div class="user">
				<span>@User.Identity.Name</span>
				<i class="fa-solid fa-user"></i>
				<div class="account_buttons">
					<a href="~/Identity/Account/Manage" type="submit">Settings</a>
					@if(User.IsInRole("Administrator")){
						<a href="~/admin" type="submit">Admin panel</a>
					}
					<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
						<button type="submit">Logout</button>
					</form>
				</div>
			</div>
		</div>
	</header>
	@RenderBody()
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
