@using NetFlex.DAL.Enums
@model NetFlex.WEB.ViewModels.FullVideoInfoViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["CurrentPage"] = AdminPages.Series;
}
<div class="layout">
	<div class="vertical">
		<div class="block">
			<div class="wrapper">
				<div class="topic">Series</div>
				<div class="description">Add & edit Series</div>
			</div>
		</div>
	</div>
	<div class="vertical">
		<div class="horizontal m-0">
			<div class="block" label="Options">
				<div class="horizontal m-0">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddSeriesModal">
						Add Series
					</button>
				</div>
			</div>
		</div>
		<div class="block">
			<table class="table">
				@*@foreach (var item in Model.Serials)
				{
					<tr>
						<td>@item.Poster</td>
						<td>@item.Title</td>
						<td>
							<button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#RemoveSeriesModal">
								Remove
							</button>
						</td>
						<td>
							<button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#EditSeriesModal">
								Edit
							</button>
						</td>
					</tr>
				}*@
			</table>
		</div>
	</div>
</div>